@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Default Font';
	src: url('$lib/fonts/futura-condensed-light.ttf');
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A, U+002C, U+002E, U+0021, U+003F, U+007E; /* 영어 대문자와 소문자 */
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Default Font';
	src: url('$lib/fonts/futura-condensed-medium.ttf');
	unicode-range: U+0030-0039, U+0041-005A, U+0061-007A, U+002C, U+002E, U+0021, U+003F, U+007E; /* 영어 대문자와 소문자 */
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Default Font';
	src: url('$lib/fonts/nanum-myeongjo-korean-normal.ttf');
	unicode-range: U+AC00-D7AF;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Default Font';
	src: url('$lib/fonts/nanum-myeongjo-korean-bold.ttf');
	unicode-range: U+AC00-D7AF;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Default Font';
	src: url('$lib/fonts/nanum-myeongjo-korean-extrabold.ttf');
	unicode-range: U+AC00-D7AF;
	font-style: normal;
	font-weight: 800;
}

@layer components {
	.feather {
		width: 24px;
		height: 24px;
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Default Font', serif;
}
