@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'futura condensed light';
	src: url('$lib/fonts/futura-condensed-light.ttf');
}

@font-face {
	font-family: 'futura condensed medium';
	src: url('$lib/fonts/futura-condensed-medium.ttf');
}

html {
	font-family: 'futura condensed light', serif;
}

@layer components {
	.feather {
		width: 24px;
		height: 24px;
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
}
